{% load static %}

<script src="{% static 'jquery.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('form').delegate('.btn_add_sub_topic', 'click', function () {
            var $this = $(this)
            var author_ptr = $this.attr('id').split('-')[1]
            var $total_topic_sub_topics = $(':input[name=sub_topic_formset_' + author_ptr + '-TOTAL_FORMS]');
            var topic_sub_topic_form_count = parseInt($total_topic_sub_topics.val())
            $total_topic_sub_topics.val(topic_sub_topic_form_count + 1)

            var $new_book_form = $('<fieldset class="topic_sub_topic_form">' +
                '<legend>Sub Topic</legend>' +
                '<p>' +
                '<label for="id_sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-name">Name:</label>' +
                '<input id="id_sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-name" maxlength="256" name="sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-name" type="text" />' +
                '<input id="id_sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-author" name="sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-author" type="hidden" />' +
                '<input id="id_sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-id" name="sub_topic_formset_' + author_ptr + '-' + topic_sub_topic_form_count + '-id" type="hidden" />' +
                '</p>' +
                '</fieldset>'
            )

            $this.parents('.author_form').find('.topic_sub_topics').prepend($new_book_form)
        })

        $('form').delegate('#btn_add_topic', 'click', function () {
            var $total_authors = $(':input[name=topic_formset-TOTAL_FORMS]');
            author_form_count = parseInt($total_authors.val())
            $total_authors.val(author_form_count + 1)

            book_form = '<fieldset class="topic_sub_topic_form">' +
                '<legend>Sub Topic</legend>' +
                '<p>' +
                '<label for="id_sub_topic_formset_' + author_form_count + '-0-name">Name:</label>' +
                '<input id="id_sub_topic_formset_' + author_form_count + '-0-name" maxlength="256" name="sub_topic_formset_' + author_form_count + '-0-name" type="text" />' +
                '<input id="id_sub_topic_formset_' + author_form_count + '-0-author" name="sub_topic_formset_' + author_form_count + '-0-author" type="hidden" />' +
                '<input id="id_sub_topic_formset_' + author_form_count + '-0-id" name="sub_topic_formset_' + author_form_count + '-0-id" type="hidden" />' +
                '</p>' +
                '</fieldset>';

            $new_author_form = $(
                '<fieldset class="author_form">' +
                '<legend>Topic</legend>' +
                '<legend>Topic</legend>' +
                '<p>' +
                '<label for="id_topic_formset-' + author_form_count + '-name">Name:</label>' +
                '<input id="id_topic_formset-' + author_form_count + '-name" maxlength="256" name="topic_formset-' + author_form_count + '-name" type="text" />' +
                '<input id="id_topic_formset-' + author_form_count + '-publisher" name="topic_formset-' + author_form_count + '-publisher" type="hidden" />' +
                '<input id="id_topic_formset-' + author_form_count + '-id" name="topic_formset-' + author_form_count + '-id" type="hidden" />' +
                '</p>' +
                '<p><input type="button" value="Add Sub Topic" class="btn_add_sub_topic" id="author-' + author_form_count + '"/></p>' +
                '<div class="topic_sub_topics">' +
                '<input id="id_sub_topic_formset_' + author_form_count + '-TOTAL_FORMS" name="sub_topic_formset_' + author_form_count + '-TOTAL_FORMS" type="hidden" value="1" />' +
                '<input id="id_sub_topic_formset_' + author_form_count + '-INITIAL_FORMS" name="sub_topic_formset_' + author_form_count + '-INITIAL_FORMS" type="hidden" value="0" />' +
                '<input id="id_sub_topic_formset_' + author_form_count + '-MAX_NUM_FORMS" name="sub_topic_formset_' + author_form_count + '-MAX_NUM_FORMS" type="hidden" value="1000" />' +
                book_form +
                '</div >' +
                '</fieldset >'
            )

            $('#authors').prepend($new_author_form)
        })
    })
</script>

<h1>Add Course</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <p><input type="button" id="btn_add_topic" value="Add another topic"/></p>

    <div id="authors">
        {{ topic_formset.management_form }}
        {% for form in topic_formset %}
            <fieldset class="author_form">
                <legend>Topic</legend>
                {{ form.as_p }}
                <p><input type="button" value="Add Sub Topic" class="btn_add_sub_topic" id="author-{{ forloop.counter0 }}"/></p>

                <div class="topic_sub_topics">

                    {{ sub_topic_formset.management_form }}

                    {% for form in sub_topic_formset %}
                     
                        <fieldset class="topic_sub_topic_form">
                            <legend>Sub Topic</legend>
                            {{ form.as_p }}
                        </fieldset>
                    {% endfor %}
                </div>
            </fieldset>
        {% endfor %}
    </div>
    <p><input type="submit" value="Save"></p>
</form>
